node_modules/
build/

.env
!.env.example

**/videos/
**/screenshots/

**/.DS_store

storybook-static/

/test-results/
/playwright-report/
/blob-report/
/html-report--attempt-1/
/playwright/.cache/
/playwright/.auth
